//-contactos-----------------------------------------------
//- mixin linksFacebook(url)
//-     a(href=url)
//-         img(src="/img/facebook.svg", alt="facebook")

//- mixin linksMicrosoft(url)
//-     a(href=url)
//-         img(src="/img/microsoft365.svg", alt="microsoft365")

//- mixin linksTwiter(url)
//-     a(href=url)
//-         img(src="/img/twiter.svg", alt="twiter") 
//- --------------------------------------------------------
mixin card(titles,paragraph )
    section.card__section 
        h1=titles
        p=paragraph