extends templates/template.pug
//-variables del head
append config
    -title='contacto'
    -siteTitle='El ABC de tu sueño'
    -metaDescrition='Jehova es mi Pastor Salmo 23-1'
    -firstStyleCss='/css/main-min.css'
    -SecondStyleCss='/css/main.css'
