extends templates/template.pug
append config
    -title='inicio'
    -siteTitle='Biembenido a Empresas ABC de tus sueños'
    -metaDescrition='Jehova es mi Pastor Salmo 23-1'
    -firstStyleCss='/css/main-min.css'
    -SecondStyleCss='/css/main.css'

